body {
    background-color: pink;
    color: green;
}

img{
    max-width: 800px;
    max-height: auto;
}

table, 
th, 
td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 5px;
}

thead {
    background-color: lightgray;
}

#container {
    width: 80%;
    margin: 0 auto;
}